<div class="w-56">
    <dl>
        <div class="px-2 py-1 sm:px-0">
            <dd class="mt-1 text-sm leading-2 sm:mt-0">
                <a href="/domains" class="float-left btn btn-ghost btn-block">Domains</a>
            </dd>
        </div>
        <div class="px-2 py-1 sm:px-0">
            <dd class="mt-1 text-sm leading-2 sm:mt-0">
                <a href="/domains/new" class="float-left btn btn-ghost btn-block">Add domains</a>
            </dd>
        </div>
        <div class="px-2 py-1 sm:px-0">
            <dd class="mt-1 text-sm leading-2 sm:mt-0">
                <a href="/account" class="float-left btn btn-ghost btn-block">Account</a>
            </dd>
        </div>
        <div class="px-2 py-1 sm:px-0">
            <dd class="mt-1 text-sm leading-2 sm:mt-0">
                <a href="/signout" class="float-left btn btn-ghost btn-block">Sign out</a>
            </dd>
        </div>
    </dl>
</div>