<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/src/static/assets/app.css">
        <title>Tasks</title>
    </head>
    <body class="container mx-auto px-4">
        <div class="">
            <h1 class="text-3xl font-bold underline">{{.PageTitle}}</h1>
            <ul class="">
                {{range .Tasks}}
                {{if .Done}}
                <li class="text-green-400">{{.Title}}</li>
                {{else}}
                <div class="text-orange-400">
                    <li class="font-mono rounded">{{.Title}}</li>
                </div>
                {{end}}
                {{end}}
            </ul>
        </div>
    </body>
</html>