{{include "base/base"}}
{{ block "content" . }}
<div class="hero mt-[calc(10vh)]">
    <div class="hero-content text-center">
        <div class="w-9/12">
            <h1 class="text-7xl xl:leading-tight font-bold">Never miss an expiry date again again and again</h1>
            <p class="py-6 text-lg leading-relaxed">Never miss an expiry date again. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Duis nibh lorem, imperdiet rutrum scelerisque et, porttitor nec risus.
                Cras erat risus, auctor fermentum hendrerit dictum.</p>
            <button class="btn btn-primary">Start tracking your certificates</button>
        </div>
    </div>
</div>
{{end}}