{{include "base/base"}}
{{ block "content" . }}
<div class="container mx-auto flex gap-10">
    <div class="w-full">
        <div class="relative flex flex-col items-center justify-center h-screen overflow-hidden">
            <div class="w-full p-6 bg-white border-t-4 border-gray-600 rounded-md shadow-md border-top lg:max-w-lg">
                <h1 class="text-3xl font-semibold text-center text-gray-700">Sign up</h1>
                <form method="POST" action="/signup" class="space-y-4">
                    <div>
                        <label class="label"><span class="text-base label-text">Email</span></label>
                        <input name="email" type="text" placeholder="Email Address" value="{{if .email}}{{.email}}{{end}}" class="w-full input input-bordered" />
                        {{ if .emailError }}
                        <label class="label">
                            <span class="label-text-alt text-error">{{.emailError}}</span>
                        </label>
                        {{ end }}
                    </div>
                    <div>
                        <label class="label"><span class="text-base label-text">Full Name</span></label>
                        <input name="fullName" type="hidden" placeholder="Name" value="{{if .fullName}}{{.fullName}}{{else}}abc{{end}}" class="w-full input input-bordered" />
                        {{ if .fullNameError }}
                        <label class="label">
                            <span class="label-text-alt text-error">{{.fullNameError}}</span>
                        </label>
                        {{ end }}
                    </div>
                    <div>
                        <label class="label"><span class="text-base label-text">Password</span></label>
                        <input name="password" type="password" placeholder="Enter Password" class="w-full input input-bordered" />
                        {{ if .passwordError }}
                        <label class="label">
                            <span class="label-text-alt text-error">{{.passwordError}}</span>
                        </label>
                        {{ end }}
                    </div>
                    <div><button type="submit" class="btn btn-block">Sign up</button></div>
                </form>
            </div>
            <div class="divider"></div>
            <a href="/signin" class="link link-info">Already have an account? Sign in here</a>
        </div>
    </div>
</div>
{{end}}